/***** animation ******/ 

/**** Fade in title ****/

.titleFade {
    display: inline-block;
    margin-right: 15px;
    opacity: 0;
    transform: translateY(100%);

    transition: opacity 0.2s ease-in, transform 0.5s ease-in;

    &.visibility {
        opacity: 1;
        transform: translateY(0);
    }
}


.image-ronde {
    position: absolute;
    top: 50%;
    left: 70%;
    animation: floatAnimation 2s ease-in-out infinite alternate;
}


@keyframes floatAnimation {
        0% {
            transform: translate(-50%, -40%);
        }

        50% {
            transform: translate(-50%, -43%);
        }

        100% {
            transform: translate(-53%, -40%);
        }

}

/**** FadeIn - section ****/

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

 @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(200px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
