

/***** hero *****/

.hero {
    background-color: #F4976C;
    width: 100%;
    display: flex;
    justify-content: space-around;  
    padding-top: 500px;
    padding-bottom: 200px;
}


h1 {
    color: #FCE181;
    font-size: 40px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 650px;
    left: 150px;

}

.hero img {
    width : 600px; 
    height : 600px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 300px;
}


/***** présentation *****/

.presentation-section {
    background-color : #F4976C;
}

h2 {
    display: flex;
    justify-content: center;
    color: #FFA351;
    font-size: 30px;
    letter-spacing: 30px;
    font-family: 'Syne', sans-serif;
} 

.presentation-section h2 {
    padding: 50px;
    color: #FCE181;
}

p {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    color: #373737;
    font-size: 18px;
    font-family: 'Syne', sans-serif;
    width: 60%;
    line-height: 30px;
}


/**********$$ projets section ****************/

.project-section p {
    color: black;
}

.lien-photo {
    display: none;
}

.title {
    margin-top: -150px;
}
.project {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
}

.filter-section {
    width: 20%;
}

.site-section {
    width: 70%;
}

.site-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #F76C6C;
    border-radius: 20px;
    border: 2px double #F76C6C ;
    padding: 20px;
}


.card {
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 45%;
    cursor: pointer;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover{
        transform: scale(1.05); 
}

.card img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.titre-card {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Syne', sans-serif;
    color: #FFA351;
}

.info-card {
    font-size: 18px;
    font-family: 'Syne', sans-serif;
    font-weight: 300;
}


/********** form section **********/

.form-section {
    margin-top: 250px;
    background-color: #FCE181;
}

.form-content {
    font-size: 12px;
}

.wpcf7-form-control {
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    width: 300px;
}

.wpcf7-text {
    height: 40px;
}

.wpcf7-form {
    padding: 20px;
}

.wpcf7-submit {
    border-radius: 20px;
    border: none;
    background-color: #FFA351;
    padding: 10px 60px 10px 60px;
    cursor: pointer;
    margin-top: 15px;
    color: white;
    font-family: "Syne", sans-serif;

}

.contact-form p {
    color: #FFA351;
}

.contact-p p{
    color: #373737;
    padding: 20px;
}

.contact-form {
    padding-bottom: 50px;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #FCE181;
}

/*** test **/ 
